/**
*		Créer le 23 avril 2010
*		Par Lovasoa RAKOTONIERANA
*
*
*/
body
{
	font-family: Verdana ;
	font-size: 12px ;
	padding: 0px ;
	margin: 0px ;
	text-align: center;
}

table
{
	font-size: 12px ;
	font-family: Verdana ;
}


h1
{
	font-family: Verdana ;
	font-weight: normal ;
	font-size: 20px ;
	letter-spacing: 2px ;
}

#divBase
{
	height: 90% ;
	overflow: auto ;
}

iframe
{
	width: 100% ;
	height: 92% ;
	border: 1px #999999 solid ;
	overflow: auto ;
}

.champs
{
	border: 1px #999999 solid ;
	width: 200px ;
	font-family: Verdana ;
}

.champs_nbr
{
	border: 1px #999999 solid ;
	width: 40 ;
	font-family: Verdana ;
}

.btn
{
	background-color: none ;
	background-image: url("images/ui-bg_glass_75_dadada_1x400.png") ;
	border: 1px #CCCCCC solid ;
	height: 20px ;
	width: 120px ;
	color: #000000 ;
	font-family: Verdana ;
	letter-spacing: 1px ;
	-moz-border-radius: 4px ;
	cursor: pointer ;
}

.btnAction
{
	background-color: none ;
	background-image: url("images/ui-bg_glass_75_dadada_1x400.png") ;
	border: 1px #CCCCCC solid ;
	height: 15px ;
	width: 90px ;
	color: #000000 ;
	font-family: Verdana ;
	letter-spacing: 1px ;
	-moz-border-radius: 2px ;
	cursor: pointer ;
	font-size: 9px ;
}

.btn:hover, .btnAction:hover
{
	border: 1px #999999 solid ;
}

.btn:disabled, .btnAction:disabled
{
	border: 1px #EFEFEF solid ;
	background: #EFEFEF ;
	color: #999999 ;
	cursor: default ;
}

.dialog, .dialog p
{
	font-family: Verdana ;
	font-size: 10px ;
}

/****	MENU CSS	****/
ul#menu { width: 100%; height: 43px; background: #FFF url("images/menu-bg.gif") top left repeat-x; font-size: 1.25em; font-family: Century Schoolbook, Verdana, sans-serif; list-style-type: none; margin: 0; padding: 0; }
ul#menu li { display: block; float: left; margin: 0 0 0 5px; }
ul#menu li a { height: 43px; color: #333333; text-decoration: none; display: block; float: left; line-height: 200%; padding: 8px 15px 0; }
ul#menu li a:hover { color: #333; }
ul#menu li a.current{ color: #FFF; background: #FFF url("images/menu-bg_current.gif") top left repeat-x; padding: 5px 15px 0; }
/****	END MENU CSS	****/

div.gpaocenter
{
	display:block
	text-align:center; 
}

.lien {
	text-decoration :none;
}