@charset "utf-8";
/* CSS Document */
body
	{
		margin:0px;
		padding:0px;
		/*background-image:url(images/bg.jpg);*/
		background-repeat:repeat-x;
		/*background-color:#bbcd72;*/
		color: #0F0F0F;
		font: 10px Arial,Helvetica,sans-serif;
	}
	.tbl_filtre th
	{
		text-align: left ;
	}*/
h1,h2,h3,h4,h5,h6,span
	{
		margin:0px;
		padding:0px;
	}
h3
	{
		color: red;
	}
#main
	{
		/*width:904px;*/
		width:830px; /* Modified 03-06-2014 */
		float:none;
		margin:0 auto;
		padding:0px;
	}
#contentbg
	{
		/*width:904px;*/
		width:100%; /* Modified 03-06-2014 */
		float: left;
		margin:0px;
		padding:0px;
		/*background-image:url(images/contenttxtbg.jpg);*/
		background-repeat: repeat-y;
	}
#contenttxtblank
	{
		width:866px;
		float: left;
		margin:0px;
		padding:0 0 0 38px;
		background-image:url(images/contentbg.jpg);
		background-repeat:no-repeat;
	}
#menu
	{
		width:828px;
		height:30px;
		float: left;
		margin:0px;
		padding:0px;
	}
#menu ul
	{
		/*width:778px;*/ /* Modified 03-06-2014 */
		height:30px;
		float: left;
		margin:0px;
		padding:0 0 0 400px;
		display:block;
		margin-left: -50px;
	}
#menu ul li
	{
		height:30px;
		float: left;
		margin:0px;
		padding:0px;
		display:block;		
	}
#menu ul li.menusap
	{
		width:2px;
		height:27px;
		float: left;
		margin:0px;
		padding:0px;
		background-image:url(images/menusap.jpg);
		background-repeat:no-repeat;
	}
#menu ul li a.menu
	{
		height:22px;
		float: left;
		margin:0px;
		padding:5px 11px 0 11px;
		font-family: "Trebuchet MS";
		font-size:11px;
		font-weight:bold;
		color:#c5c5c5;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
	#menu ul li a.active
	{
		height:22px;
		float: left;
		margin:0px;
		padding:5px 11px 0 11px;
		font-family: "Trebuchet MS";
		font-size:11px;
		font-weight:bold;
		color:#99eaf5;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		background-image:url(images/menuover.jpg);
		background-repeat:no-repeat;
		background-position:center bottom;
	}
#menu ul li a.menu:hover
	{
		height:22px;
		float: left;
		margin:0px;
		padding:5px 11px 0 11px;
		font-family: "Trebuchet MS";
		font-size:11px;
		font-weight:bold;
		color:#99eaf5;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		background-image:url(images/menuover.jpg);
		background-repeat:no-repeat;
		background-position:center bottom;
	}
/*------------------------------------------------------MENU---------------------------------------------END--------------------------------------------------------------------------------*/	
#contentleft
	{
		width:597px;
		float:left;
		margin-top:-10px;
		padding:0px;
	}
#topbuttonsblank
	{
		width:597px;
		height:29px;
		float:left;
		margin:7px 0 0 0;
		padding:0px;
	}
#register
	{
		width:130px;
		height:29px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
.register
	{
		width:117px;
		height:23px;
		float:left;
		margin:0px;
		padding:6px 0 0 13px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-decoration:none;
		text-transform:uppercase;
		background-image:url(images/register.jpg);
		background-repeat:no-repeat;
	}
.register:hover
	{
		width:117px;
		height:23px;
		float:left;
		margin:0px;
		padding:6px 0 0 13px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/registerover.jpg);
		background-repeat:no-repeat;
	}
#bookmark
	{
		width:130px;
		height:29px;
		float:left;
		margin:0 0 0 4px;
		padding:0px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
.bookmark
	{
		width:117px;
		height:23px;
		float:left;
		margin:0px;
		padding:6px 0 0 13px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/bookmark.jpg);
		background-repeat:no-repeat;
	}
.bookmark:hover
	{
		width:117px;
		height:23px;
		float:left;
		margin:0px;
		padding:6px 0 0 13px;
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#464646;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/bookmarkover.jpg);
		background-repeat :no-repeat;
	}
#callus
	{
		width:264px;
		height:25px;
		float:left;
		margin:229px 0 0 0;
		padding:20px 0 0 0;
		font-family:Arial;
		font-size:20px;
		color:#393939;
		background-image:url(images/callus.jpg);
		background-repeat:no-repeat;
	}
#callus h3
	{
		width:264px;
		height:25px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:20px;
		color:#393939;
	}
.callus
	{
		font-family:Arial;
		font-size:24px;
		color:#c6891e;
		padding:0 0 0 34px;
	}
#leftheading
	{
		width:471px;
		height:42px;
		float:left;
		margin:44px 0 0 0;
		padding:4px 0 0 58px;
		font-family:Arial;
		font-size:30px;
		color:#13819a;
		background-image: url(images/leftheading.jpg);
		background-repeat:no-repeat;
	}
#leftheading h2
	{
		width:471px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:30px;
		font-weight:normal;
		color:#13819a;
	}
#lefttxtblank
	{
		width:509px;
		float:left;
		margin:0px;
		padding:27px 0 0 20px;
	}
#leftredtxt
	{
		width:509px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:18px;
		color:#cf7d09;
	}
#lefttxt
	{
		width:509px;
		float:left;
		margin:0px;
		padding:31px 0 0 0;
		font-family:Arial;
		font-size:12px;
		color:#4a513d;
		line-height:20px;
	}
.leftboldtxt
	{
		font-family:Arial;
		font-size:12px;
		font-weight:bold;
		color:#4a513d;
	}
.lefttxt
	{
		font-family:Arial;
		font-size:12px;
		color:#4a513d;
		background-color:#cee181;
	}
.lefttxt02
	{
		font-family:Arial;
		font-size:12px;
		color:#4a513d;
		background-color:#cee181;
		padding:0 27px 0 3px;
	}
#buttonbg
	{
		width:501px;
		height:25px;
		float:left;
		margin:10px 0 0 0;
		padding:0px;
		background-image:url(images/hline.jpg);
		background-repeat:repeat-x;
		background-position:center;
	}
.more
	{
		width:82px;
		height:20px;
		float: right;
		margin:0px;
		padding:5px 0 0 0;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/morebutton.jpg);
		background-repeat: no-repeat;
	}
.more:hover
	{
		width:82px;
		height:20px;
		float: right;
		margin:0px;
		padding:5px 0 0 0;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;		
		background-image: url(images/morebutton.jpg);
		background-repeat: no-repeat;
	}	
/*-----------------------------------------------------CONTENTLEFT-------------------------------------------------------------------------------------------------------------END----------*/	
#contentright
	{
		width:229px;
		float:left;
		margin:0px;
		padding:0 0 0 0;
	}
#search
	{
		width:229px;
		height:78px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/search.jpg);
		background-repeat:no-repeat;
	}
#searchblank
	{
		width:179px;
		height:56px;
		float:left;
		margin:0px;
		padding:22px 0 0 50px;
	}
#searchinput
	{
		width:103px;
		height:22px;
		float:left;
		margin:0px;
		padding:0px;
	}
.searchinput
	{
		width:97px;
		height:18px;
		float:left;
		margin:0px;
		padding:4px 0 0 6px;
		font-family: Arial;
		font-size:10px;
		color:#070808;
	}
#searchbutton
	{
		width:51px;
		height:21px;
		float:left;
		margin:1px 0 0 10px;
		padding:0px;
	}
.search
	{
		width:51px;
		height:18px;
		float:left;
		margin:0px;
		padding:3px 0 0 0;
		font-family: Arial;
		font-size:10px;
		color:#070808;
		text-align:center;
		text-decoration:none;
		background-image:url(images/searchbutton.jpg);
		background-repeat:no-repeat;
	}
.search:hover
	{
		width:51px;
		height:18px;
		float:left;
		margin:0px;
		padding:3px 0 0 0;
		font-family: Arial;
		font-size:10px;
		color:#070808;
		text-align:center;
		text-decoration:none;
		background-image:url(images/searchbutton.jpg);
		background-repeat:no-repeat;
	}
#advancesearch
	{
		width:103px;
		height:22px;
		float:left;
		margin:0px;
		padding:0px;
	}
.advancesearch
	{
		width:97px;
		height:18px;
		float:left;
		margin:0px;
		padding:4px 0 0 6px;
		font-family: Arial;
		font-size:11px;
		font-weight:bold;
		color:#ce932b;
		text-decoration:none;
	}
.advancesearch:hover
	{
		width:97px;
		height:18px;
		float:left;
		margin:0px;
		padding:4px 0 0 6px;
		font-family: Arial;
		font-size:11px;
		font-weight:bold;
		color:#ce932b;
		text-decoration:underline;
	}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/	
#rightnav
	{
		width:230px;
		height:54px;
		float:left;
		margin:11px 0 0 0;
		padding:0px;
	}
#rightnav ul
	{
		width:230px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		display:block;
	}
#rightnav ul li
	{
		width:45px;
		height:54px;
		float:left;
		margin:0 1px 0 0;
		padding:0px;
		display:block;		
	}
#rightnav ul li a.login
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/login.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.login
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image:url(images/login.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.check
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/check.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.check:hover
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/check.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.chat
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/chat.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.chat:hover
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/chat.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.idea
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/idea.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.idea:hover
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/idea.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.privecy
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/privecy.jpg);
		background-repeat:no-repeat;
	}
#rightnav ul li a.privecy:hover
	{
		width:45px;
		height:54px;
		float:left;
		margin:0px;
		padding:0px;
		background-image: url(images/privecy.jpg);
		background-repeat:no-repeat;
	}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/		
#morelinksheading
	{
		width:229px;
		height:41px;
		float:left;
		margin:25px 0 0 0;
		padding:0px;
		background-image: url(images/morelinksheading.jpg);
		background-repeat:no-repeat;
	}
#morelinksheading h5
	{
		width:177px;
		height:31px;
		float:left;
		margin:0px;
		padding:10px 0 0 52px;
		font-family:Arial;
		font-size:18px;
		font-weight:normal;
		color:2a2a2a;
	}
#morelinks
	{
		width:211px;
		float:left;
		margin:0px;
		padding:23px 0 34px 18px;
		background-color:#c7da79;
	}
.date
	{
		width:47px;
		height:15px;
		float:left;
		margin:0px;
		padding:2px 0 0 17px;
		font-family:Arial;
		font-size:11px;
		font-weight:bold;
		color:#FFF;
		background-image:url(images/datebg.jpg);
		background-repeat:no-repeat;
	}
.linkblank
	{
		width:200px;
		height:12px;
		float:left;
		margin:8px 0 12px 0;
		padding:0 0 0 11px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		background-image: url(images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:left 5px;
	}
.linkblank02
	{
		width:200px;
		height:12px;
		float:left;
		margin:11px 0 8px 0;
		padding:0 0 0 11px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		background-image: url(images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:left 5px;
	}
.linkblank03
	{
		width:200px;
		height:12px;
		float:left;
		margin:0 0 8px 0;
		padding:0 0 0 11px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		background-image: url(images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:left 5px;
	}
.linkblank04
	{
		width:200px;
		height:12px;
		float:left;
		margin:0 0 14px 0;
		padding:0 0 0 11px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		background-image: url(images/arrow.jpg);
		background-repeat:no-repeat;
		background-position:left 5px;
	}
.link
	{
		width:200px;
		height:12px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		text-decoration: underline;
	}
.link:hover
	{
		width:200px;
		height:12px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:11px;
		color:#FFF;
		text-decoration: none;
	}
#morelinksbot
	{
		width:229px;
		height:8px;
		float:left;
		margin:0px;
		padding:0px;
		overflow:hidden;
		background-image: url(images/morelinksbot.jpg);
		background-repeat:no-repeat;
	}
/*--------------------------------------------------------------RIGHTPART------------------------------------------------------------------------------------------------------END----------*/
#testimonialbg
	{
		width:825px;
		height:202px;
		float:left;
		margin:36px 0 0 0;
		padding:0px;
		background-image:url(images/testmonialbg.jpg);
		background-repeat:no-repeat;
	}
#testimonialtxtblank
	{
		width:806px;
		height:184px;
		float:left;
		margin:0px;
		padding:18px 0 0 19px;
	}
#testimonialheading
	{
		width:742px;
		height:40px;
		float:left;
		margin:0px;
		padding:0 0 0 64px;
		font-family:Arial;
		font-size:30px;
		color:#33b0cd;
		background-image:url(images/testimonial.jpg);
		background-repeat:no-repeat;
	}
#testimonialheading h2
	{
		width:806px;
		height:40px;
		float:left;
		margin:0px;
		padding:0px;
		font-family:Arial;
		font-size:30px;
		color:#33b0cd;
	}
#testimonialdate
	{
		width:56px;
		height:38px;
		float:left;
		margin:11px 0 0 0;
		padding:26px 0 0 0;
		font-family:Arial;
		font-size:28px;
		font-weight:bold;
		color:#829241;
		text-align:center;
		background-image: url(images/testimonial-date.jpg);
		background-repeat:no-repeat;
	}
#testimonialtxt
	{
		width:417px;
		float:left;
		margin:11px 0 0 0;
		padding:0 0 0 17px;
		font-family:Arial;
		font-size:14px;
		font-style:italic;
		color:#a9a9a9;
		line-height:20px;
	}
#testimonialname
	{
		width:417px;
		float:left;
		margin:11px 0 0 0;
		padding:0 0 0 73px;
		font-family:Arial;
		font-size:14px;
		font-weight:bold;
		color:#FFF;
		text-align:right;
	}
#testimonialbutton
	{
		width:116px;
		height:38px;
		float:left;
		margin:0 0 0 135px;
		padding:0px;
	}
.testimonialbutton
	{
		width:116px;
		height:32px;
		float:left;
		margin:0px;
		padding:6px 0 0 0;
		font-family:Arial;
		font-size:20px;
		font-weight:bold;
		color:#2e2e2e;
		text-align:center;
		text-decoration:none;
		background-image:url(images/detailsbutton.jpg);
		background-repeat:no-repeat;
	}
.testimonialbutton:hover
	{
		width:116px;
		height:32px;
		float:left;
		margin:0px;
		padding:6px 0 0 0;
		font-family:Arial;
		font-size:20px;
		font-weight:bold;
		color:#2e2e2e;
		text-align:center;
		text-decoration:none;
		background-image: url(images/detailsbuttonover.jpg);
		background-repeat:no-repeat;
	}
/*------------------------------------------------------------------CONTENTPART-------------------------------------------------------------------------------------END---------------------*/	
#footerbg
	{
		width:904px;
		height:135px;
		float: left;
		margin:0px;
		padding:0px;
		background-image:url(images/footerbg.jpg);
		background-repeat:no-repeat;
	}
#footerlinks
	{
		width:904px;
		height:13px;
		float: left;
		margin:19px 0 0 0;
		padding:0px;
		font-family:"Trebuchet MS";
		font-size:10px;
		color:#FFF;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
.footerlinks
	{
		font-family:"Trebuchet MS";
		font-size:10px;
		color:#FFF;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
		padding:0 5px 0 5px;
	}
.footerlinks:hover
	{
		font-family:"Trebuchet MS";
		font-size:10px;
		color:#FFF;
		text-align:center;
		text-decoration: underline;
		text-transform:uppercase;
		padding:0 5px 0 5px;
	}
#copyrights
	{
		width:904px;
		height:13px;
		float: left;
		margin:5px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:10px;
		color:#2d2d2d;
		text-align:center;
	}
#validation
	{
		width:534px;
		float: left;
		margin:5px 0 0 0;
		padding:0 0 0 370px;
	}
.xhtml
	{
		width:70px;
		height:20px;
		float: left;
		margin:0px;
		padding:5px 0 0 12px;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/xhtml.jpg);
		background-repeat: no-repeat;
	}
.xhtml:hover
	{
		width:70px;
		height:20px;
		float: left;
		margin:0px;
		padding:5px 0 0 12px;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-decoration:none;
		text-transform:uppercase;		
		background-image: url(images/xhtml.jpg);
		background-repeat: no-repeat;
	}	
.css
	{
		width:62px;
		height:20px;
		float: left;
		margin:0 0 0 3px;
		padding:5px 0 0 20px;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-decoration:none;
		text-transform:uppercase;
		background-image: url(images/css.jpg);
		background-repeat: no-repeat;
	}
.css:hover
	{
		width:62px;
		height:20px;
		float: left;
		margin:0 0 0 3px;
		padding:5px 0 0 20px;
		font-family:"Trebuchet MS";
		font-size:10px;
		font-weight:bold;
		color:#414141;
		text-decoration:none;
		text-transform:uppercase;		
		background-image: url(images/css.jpg);
		background-repeat: no-repeat;
	}	
#designedby
	{
		width:904px;
		height:13px;
		float: left;
		margin:5px 0 0 0;
		padding:0px;
		font-family: Arial;
		font-size:12px;
		font-weight:bold;
		color:#9b5b01;
		text-align:center;
	}
.designedby
	{
		font-family: Arial;
		font-size:12px;
		font-weight:bold;
		color:#faf56d;
		text-align:center;
		text-decoration:none;
	}
.designedby:hover
	{
		font-family: Arial;
		font-size:12px;
		font-weight:bold;
		color:#faf56d;
		text-align:center;
		text-decoration:none;
	}
	
	.acc_container {
	margin: 0 0 5px; padding: 0;
	/*overflow: hidden;*/
	/*overflow-x: scroll;*/
	/*overflow:auto;*/
	font-size: 1.2em;
	/*width: 825px;*/
	width: 828px; /* Modified 03-06-2014 */
	margin-left : 2px;
	clear: both;
	background: #fff;
	border: 1px solid #d6d6d6;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
.acc_container .block {
	padding: 20px;
	
}


.btn {
    background: url("../images/tabrightF.gif") no-repeat scroll left top transparent;
    font-size: 10px;
    margin: 0;
    padding: 0 0 0 4px;
    width: 85px;
}






/*#ui-datepicker-div
{
	border: none;
}*/
#pager
{
	margin-top: 5px;
}
.pagesize
{
	width: 50px ;
	height : 20px ;
}
#ui-datepicker-div
{
	border: none;
}
.block_notation_visu{
    background: none repeat scroll 0 0 #E6EEEE;
    border: 1px solid #ccc;
    /**border-radius: 10px 10px 10px 10px;*/
    /*height: 177px;*/
    width: 700px;
    padding-top:28px;
	margin-left: auto;
	margin-right: auto;
}
#btn_manuelle{
cursor:pointer;
}
#btn_filtrer{
cursor:pointer;
}
#btn_retour{
cursor:pointer;
}
#logo {
	/*width: 904px;
	height: 134px;
	margin: 0;
	padding: 0;*/
	/*float: left;*/
	width: 904px;
	height: 134px;
	float: none;
    margin: auto;
    padding: 0;
	background: url(images/img04.jpg) no-repeat right top;
}

/**************************************************************************/
/**************************************************************************/

.categorie table {
border:2px solid #B2C6CD;
border-collapse:collapse;
width:100%;
margin:auto;
}
.categorie thead, tfoot {
background-color:#E6EEEE;
/*background-image:url(sky.jpg);*/
border:1px solid #B2C6CD;
}
.categorie tbody {
background-color:#FFFFFF;
border:2px solid #B2C6CD;
}
.categorie th {
/*font-family:monospace;*/
border:1px dotted #B2C6CD;
padding:5px;
background-color:#E6EEEE;
width:100px;
color: #5D808A;
}
.categorie td {
font-family:sans-serif;
font-size:10px;
border:1px solid #B2C6CD;
padding:5px;
text-align:left;
}

.categorieCl td {
font-family:sans-serif;
font-size:10px;
text-align:left;
}

.stMain div.tabContent th{
font:bold 11px Verdana;
}
.categorieClass {
width: 100%;
}
/*
.categorieClass table {
border:2px solid #B2C6CD;
border-collapse:collapse;
width:99%;
margin:auto;
}

.categorieClass thead, tfoot {
background-color:#E6EEEE;
/*background-image:url(sky.jpg);*//*
border:1px solid #B2C6CD;
}
.categorieClass tbody {
background-color:#FFFFFF;
border:2px solid #B2C6CD;
}
.categorieClass th {
/*font-family:monospace;*//*
border:1px dotted #B2C6CD;
padding:5px;
background-color:#E6EEEE;
width:100px;
color: #5D808A;
}
.categorieClass td {
font-family:sans-serif;
font-size:10px;
border:1px solid #B2C6CD;
padding:5px;
text-align:left;
}*/


/**************************************************************************/
/**************************************************************************/

.principal {
font-family:sans-serif;
font-size:11px;
padding:5px;
margin:5px;
/*border:2px solid #AAAAAA;
background-color:#FFFFFF;*/
}

.grille {
display:block;
padding:10px 0px 0px 0px;
/*width: 40%;*/
position:relative;
/*border:2px solid #C0C0C0;
background-color:#ECCCCC;*/
}

.grille table {
border:2px solid #000;
border-collapse:collapse;
width:100%;
margin:auto;
}

.grille td {
font-family:sans-serif;
font-size:11px;
border:1px solid #000;
padding:5px;
text-align:left;
}
.grille .titre {
font-weight:bold;
font-size:11px;
}

.titre_principal {
display:block;
height:35px;
width:50%;
margin:auto;
text-align:center;
border:2px solid #C0C0C0;
background-color:#ECCCCC;
font-size:20px;
}

.detail {
display:block;
/*border:2px solid #C0C0C0;
background-color:#ECCCCC;*/
width:50%;
}
.detail table tr td {
padding: 3px;
}

/*********************************************************************************
******* fichier admin_type *******************************************************
*************************************************************************************/
.table_body {
border:2px solid #B2C6CD;
border-collapse:collapse;
width:60%;
margin:auto;
}
.table_body thead, .table_body tfoot {
background-color:#E6EEEE;
/*background-image:url(sky.jpg);*/
border:1px solid #B2C6CD;
}
.table_body tbody {
background-color:#FFFFFF;
border:2px solid #B2C6CD;
}
.table_body th {
/*font-family:monospace;*/
border:1px dotted #B2C6CD;
padding:5px;
background-color:#E6EEEE;
width:25%;
color: #5D808A;
}
.table_body td {
font-family:sans-serif;
font-size:80%;
border:1px solid #B2C6CD;
padding:5px;
text-align:left;
}
caption {
font-family:sans-serif;
}
.table_title {
text-align:left; 
/**margin-left: 30px;*/
border: 0px none;
font-family:sans-serif;
background-color:#FFFFFF;
}

.table_title tr td {
padding:3px;
}


#id_ajout_quest {
margin:0 0 0 -746px;
}

/*******************2014-02-07******************************/
.tabs { 
   background-color: #eee; 
   border-bottom: 1px solid #ccc; 
   list-style: none;
   margin: 0; 
   padding: 10px 5px 1px 5px;
   zoom:1; 
}
.tabs:after { 
   display: block; 
   clear: both; 
   content: " "; 
}

.tabs li {
   float: left; 
   margin: 0 1px 0 0; 
   padding-left: 5px; 
}
.tabs a {
   display: block; 
   position: relative; 
   top: 1px; 
   border: 1px solid #ccc;
   border-bottom: 0; 
   z-index: 2; 
   padding: 2px 9px 3px; 
   color: #444; 
   text-decoration: none;
   white-space: nowrap;
}
.tabs a:focus,
.tabs a:active { 
   outline: none; 
}
.tabs a:hover,
.tabs a:focus,
.tabs a:active { 
   background: #fff; 
   cursor: pointer; 
}
.ui-tabs-active a { 
   background-color: #fff; 
   color: #000; 
   font-weight: bold; 
   padding: 2px 8px 1px; 
   border-bottom: 1px solid #fff; 
   border-top: 3px solid #fabd23; 
   border-left: 1px solid #fabd23; 
   border-right: 1px solid #fabd23; 
   margin-bottom: -1px; 
   overflow: visible;
}
.ui-tabs-hide { 
   display: none; 
   background-color: #fff 
}
.ui-tabs-panel {
   padding: 0.5em;
}
.ui-tabs-paging-next { 
   float: right !important;
}
.ui-tabs-paging-prev a,
.ui-tabs-paging-next a {
   display: block; 
   position: relative; 
   top: 1px; 
   border: 0;
   z-index: 2; 
   padding: 0px; 
   color: #444; 
   text-decoration: none;
   background: #eee; 
   cursor: pointer;
}
.ui-tabs-paging-next a:hover,
.ui-tabs-paging-next a:focus,
.ui-tabs-paging-next a:active,
.ui-tabs-paging-prev a:hover,
.ui-tabs-paging-prev a:focus,
.ui-tabs-paging-prev a:active { 
   background: #eee; 
}
.ui-tabs-paging-disabled {
   visibility: hidden;
}

/**************CSS INTERFACE.PHP********************/
#archive_link{
float:left;
}
#add_link{
/**margin-left:648px;*/
float:left;
}
#gest_link{
float:left;
cursor:pointer;
}

#id_ajout_questionnaire{
float:left;
cursor:pointer;
}
#id_ajout_note_questionnaire{
float:left;
cursor:pointer;
}
/*#id_gestion_classement{*/
.icone {
float:left;
cursor:pointer;
}

.icone{
/*margin-top:38px;*/ /* Modified 03-06-2014 */
/**margin-left:15px;*/
display:block;
font-weight:bold;
text-decoration:none;
}
#nb_grille{
text-decoration:none;
}
h2{
text-align:center;
/**color:#158ADE;*/
}
#slct_traitement{
height:25px;
}
#slct_traitement_ajout{
height:25px;
}
#slct_categorie{
padding:0 0 0 5px;
height:25px;
}
#tab_form{
margin:0 0 0 2px;
}

.btn_modif_cat{  
/**float:right;*/
cursor:pointer;
display:none;
width:90px;
}

.btn_modif_item{  
/**float:right;*/
cursor:pointer;
display:none;
width:90px;
}

.cache_categorie{
display:none;
background:#fff;
border:1px  solid #ccc;
}
.cache_item{
display:none;
background:#fff;
border:1px  solid #ccc;
}
.btn_edit_item{
cursor:pointer;
width:90px;
}
.btn_edit{
cursor:pointer;
width:90px;
}
#btn_item{
width:90px;
}

.cache_indicateur{
display:none;
background:#fff;
border:1px  solid #ccc;
}
.btn_edit_indicateur{
width:90px;
}
.btn_modif_indicateur{
display:none;
width:90px;
}
.show_indicateur{
background-color:#B2C6CD;
font-weight:bold;
}
.hide_indicateur{
background:#FFFFFF;
}
#menu_gest_questionnaire{
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
    width: 828px;
}

#contenttxtblank_gest_questionnaire {
    background-image: url("images/contentbg.jpg");
    background-repeat: no-repeat;
    float: left;
    margin: 0;
    padding: 0 0 0 38px;
    width: 792px;
	
	}

#menu_gest_questionnaire ul {
    display: block;
    float: left;
    height: 30px;
    margin: 0 0 0 -50px;
    padding: 0 0 0 27px;
    width: 154px;
}



	
	#menu_gest_questionnaire ul li {
    display: block;
    float: left;
    height: 30px;
    margin: 0;
    padding: 0;
}
#menu_gest_questionnaire ul li a.menu
	{
		height:22px;
		float: left;
		margin:0px;
		padding:5px 11px 0 11px;
		font-family: "Trebuchet MS";
		font-size:11px;
		font-weight:bold;
		color:#c5c5c5;
		text-align:center;
		text-decoration:none;
		text-transform:uppercase;
	}
	
	#tab_form_ajout{
	   display:none;
	   margin:0 0 0 200px;
	}
	#table_interface{
	margin:20px 0 0 28px;
	}
	.cache_grille{
	   display:none;
	   background:#fff;
       border:1px  solid #ccc;
	}
	.cache_categorie{
	   background:#fff;
       border:1px  solid #ccc;
	}
	.btn_modif_grille{
	 display:none;
     width:90px;
	 margin:0 0 0 40px;
	 
	}
	.btn_edit_grille{
	   width:90px;
	   margin:0 0 0 40px;
	}
	.cache_grille2{
	 display:none;
	   background:#fff;
       border:1px  solid #ccc;
	}
	.btn_modif_grille2{
	 display:none;
     width:90px;
	 margin:0 0 0 40px;
	
	}
	.set_bold{
	font-weight:bold;
	}
	#modifier_projet{
	   display:none;
	}
	.hide_button{
	   display:none;
	}
	.show_button{
	   display:none;
	}
	.libelle{
	float:right;
	margin-top:10px;
	margin-left:5px;
	margin-right:15px; /* Ajouté 03-06-2014 */
	color:#158ADE;
	}
	#id_ajout_quest{
	float:left;
	cursor:pointer;
	margin-right:15px;
	}
	.libelle_ajout_questionnaire{
	 color: #158ADE;
    /** float: right;*/
     margin-top: 4px;
	}
	
     .btn_add_grille{
	   width:90px;
	   margin:0 0 0 40px;
	}
	
	/**********************************/
	   div:first-of-type div.up {
        visibility: hidden;
        clear:both;
    }
    div:last-of-type div.down {
        visibility: hidden;
 
    }
    div.main {
        clear:both;
    }
    .up {
        float: left;
    }
    .down {
        float: left;
    }
	.move{
	   cursor:move;
	}
	
	.btn_save_grille{	
	   margin: 0 0 0 40px;
       width: 90px;
}

#id_contenu_by_filtre {
border:1px solid #D6D6D6;
width:98%;
display:block;
margin:0 10px 0 10px;
border-radius:5px;
}

/**************************************************************************/
.class_select {
background-color: #EFEFEF;
font-size: 10px;
width:350px;
margin:3px;
background: linear-gradient(to bottom, #ffffff 30%, #e1e1e1 120%, #ffffff 84%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #AAAAAA;
height: 19px;
}

#id_fichier_filtre, #id_note_filtre, #id_valeur_note_1, #id_valeur_note_2 {
background: linear-gradient(to bottom, #ffffff 30%, #e1e1e1 120%, #ffffff 84%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #AAAAAA;
}

#id_filtre_date_notation_deb, #id_filtre_date_notation_fin, #id_filtre_date_appel_deb, #id_filtre_date_appel_fin {
background: linear-gradient(to bottom, #ffffff 30%, #e1e1e1 120%, #ffffff 84%) repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #AAAAAA;
}

.btn_visu {
    /*color:#08233e;*/
    color:#324d68;
    font-family:Verdana;
    font-size:11px;
    margin: 10px auto;
	/*padding: 6px 23px;*/
    /*background:url(overlay.png) repeat-x center #ffcc00;*/
    /*background-color:rgba(255,204,0,1);*/
    background-color:#CCCCCC;
    border:1px solid #000000;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
    display:block;
    width:120px;
    font-weight:bold;
    background: linear-gradient(to bottom, #eaeaea 30%, #c0c0c0 120%, #cccccc 84%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #324d68 #324d68 #9f9f9f;
    padding: 1px 0;
}

.btn_visu:hover {
    /*background-color:rgba(255,204,0,0.8);*/
    background-color:#E0E9F5;
    background: linear-gradient(to bottom, #ffffff 30%, #E0E9F5 120%, #cccccc 84%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

/**************************************************************************/

.titre_label {
	font-family:Verdana;
	font-size:13px;
	margin: 5px;
	font-weight:bold;
	padding:0 0 0 10px;
}

.bottom-marked {
	border-bottom: 1px solid red;
}

.bottom-marked-bold {
	border-bottom: 2px solid red;
}

tr > td.bordure-top {
	border-top:2px solid #668791;
}

.bordure-top-first{
	border-top:2px solid #197AAC;
	/*border-top:2px solid #668791;*/
}

.bordure-bottom {
	border-bottom:2px solid #668791;
}

.bordure-bottom1 {
	border-bottom:2px solid #197AAC;
}

.indicateur {
	background:#E0E4FC;
}

.indicateur_total {
	font-size:12px;
	font-weight:bold;
	color:#0060B4;
	border: none;
	background:#E0E4FC;
	text-align: right;
}
.indicateur_com {
	font-size:12px;
	font-weight:bold;
	color:#0060B4;
	border: none;
	/*background:#FFFFFF;*/
	background:#C9ABAB;
	text-align:right;
}

.indicateur_par_com{
	background:#C9ABAB;
}

.percent {
	color:#0060B4;
}

#id_table_kt tbody tr td textarea {
	border:none;
}

.dossier_evaluation {
	width:90%;
	color:#0060B4;
}
.erreur{
border-color:red;
}
.no_acces_btn{
  background: #cc2f49;
  background-image: -webkit-linear-gradient(top, #cc2f49, #ff739d);
  background-image: -moz-linear-gradient(top, #ff739d, #ff739d);
  background-image: -ms-linear-gradient(top, #ff739d, #ff739d);
  background-image: -o-linear-gradient(top, #ff739d, #ff739d);
  background-image: linear-gradient(to bottom, #ff739d, #ff739d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:block;
  width:155px;
  font-weight:bold;
  text-align:center;
}

.champ_nc{
	width:292px;
	}
	
	.btn_visu_nc{
    color:#08233e;
    font-family:Verdana;
    font-size:11px;
    margin: 5px auto;
	/*padding: 6px 23px;*/
    /*background:url(overlay.png) repeat-x center #ffcc00;*/
    /*background-color:rgba(255,204,0,1);*/
    
    border:1px solid #000000;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border-bottom:1px solid #9f9f9f;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    cursor:pointer;
    width:76px;
    font-weight:bold;
}

.classe_disable {
	background:#CCCCCC !important;
	color:#F0F0F0;
	border-color:#CCCCCC;
}

.classe_enregistrer_disable
{
	background: none repeat scroll 0 0 #cccccc;
    color: grey;
    cursor: default;
}

.slct_grav {
	width: 295px;
}

.cacher {
    visibility: hidden;
}